.react {
    background-color: #444B3D;
}

.terminal, .terminal h2,
.space, .space h2,
.dark, .dark h2,
.react, .react h2 {
    color: #FFF;
}

.right {
    text-align: right;
}

.terminal, .dark {
    background-color: #000;
}

.space {
    background-image:url('../img/space.gif');
    background-repeat:repeat;
}

.smaller {
    font-size: 1em;
}

.terminal, .terminal pre {
    font-family: Courier New, Courier, monospace;
}
.terminal h2 {
    font-family: auto;
}

p.terminal {
    padding: 0.5em;
}

.generated {
    color: #888;
}

slide.smallerCode code, slide.smallerCode div.line {
    font-size: 0.85em !important;
}